@media screen and (max-width: 1280px) {
  .reviewContainer .reviewGrid .left {
    padding: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .outletContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  header .navbar1,
  header .navbar2 {
    position: fixed;
    background: #fff;
    z-index: 11;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  header .navbar1 {
    top: 0;
    left: 0;
    transform: translateX(-150%);
  }
  header .navbar2 {
    top: 0;
    right: 0;
    transform: translateX(150%);
  }
  header .navbar1.active,
  header .navbar2.active {
    transform: translateX(0);
  }
  header .navbar2 .closeNav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .menuContainer {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
  .reviewContainer .reviewGrid {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .reviewContainer .reviewGrid:nth-child(even) {
    flex-direction: column;
  }
  .reviewContainer .reviewGrid .left,
  .reviewContainer .reviewGrid .right {
    width: 100%;
    max-height: auto;
  }
  header p {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  .home1 .title,
  .home1 .intro h1 {
    font-size: 2rem;
  }
  .outletContainer {
    grid-template-columns: 1fr;
  }
  .outletBanner form {
    width: 90%;
  }
  .menuContainer {
    grid-template-columns: 1fr;
  }
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .outletCard {
    min-height: auto;
  }
  .servicesImg {
    height: auto;
  }
  .services img {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .logo {
    width: 100px;
  }
  .testCard {
    min-width: 200px;
    width: 200px;
    height: 200px;
  }
  .testCard .user img {
    width: 75px;
    height: 75px;
  }
  .testCard .text {
    padding-top: 15px;
  }
  .home1 {
    height: calc(100vh - 89.91px);
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p,
  a,
  ul,
  li,
  input,
  button,
  label,
  textarea,
  select {
    font-size: 0.8rem;
  }
  .jaffer img {
    width: 200px;
    margin: 0 auto;
  }
  .galleryContainer {
    grid-auto-rows: auto;
  }
}

/*  */
@media screen and (max-width: 767), screen and (max-height: 500px) {
  header .navbar2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
  }
}
